{% extends "auctions/layout.html" %}

{% block title %}
Listing
{% endblock %}

{% block body %}
<div>
	<h2>Listing: {{ listing.title }}</h2>
	{% if user.is_authenticated %}
	<form action="{% url 'watchlist' listing.id %}" method="POST">
		{% csrf_token %}
		<input class="btn btn-primary" type="submit" value="Watchlist">
	</form>
	{% endif %}
	<div>
		<img src="{{ listing.photo_link }}" alt="{{ listing.title }}">
		<div>{{ listing.description }}</div>
		<div>Current Price: ${{ listing.starting_bid }}</div>
		<div>Created: {{ listing.date_created }}</div>
	</div>
	<div>
		<h6>Comments</h6>
		{% for comment in comments %}
		<div>
			{{ comment.comment}}
			{{ comment.user_id}}
			{{ comment.date_created}}
		</div>
		{% empty %}
		There are no comments.
		{% endfor %}
		{% if user.is_authenticated %}
		<form action="{% url 'comment' %}" method="POST">
			{% csrf_token %}
			<input type="text" name="comment" placeholder="New comment">
			<input class="btn btn-primary" type="submit">
		</form>
		{% endif %}

		<h6>Watchers</h6>
		{% for watcher in watchers %}
		<div>
			{{ watcher}}
		</div>
		{% empty %}
		There are no watchers.
		{% endfor %}

	</div>

</div>

{% endblock %}