{% extends "auctions/layout.html" %}

{% block title %}
Listing
{% endblock %}

{% block body %}
<div>
	<h2>Listing: {{ listing.title }}</h2>
	{% if user.is_authenticated %}
	<form action="{% url 'watch' listing.id %}" method="POST">
		{% csrf_token %}
		<input class="btn btn-primary" type="submit" value="Add/Remove from Watchlist">
	</form>
	{% endif %}
	<div>
		<img class="image" src="{{ listing.photo_link }}" alt="{{ listing.title }}">
		<div>Description: {{ listing.description }}</div>
		<div>Current Price: ${{ listing.starting_bid }}</div>
		{% if messages %}
		{% for message in messages %}
		{{ message }}
		{% endfor %}
		{% endif %}
		{% if user.is_authenticated %}
		<form action="{% url 'bid' listing.id %}" method="POST">
			{% csrf_token %}
			<input type="number" min="0.01" step="0.01" name="bid" placeholder="Bid">
			<input class="btn btn-primary" type="submit" value="Place Bid">
		</form>
		{% endif %}
	</div>
	<br>
	<div>
		<h6>Details</h6>
		<div>Listed By: {{listing.user}}</div>
		<div>Created On: {{ listing.date_created }}</div>
	</div>
	<br>
	<div>
		<h6>Comments</h6>
		{% for comment in comments %}
		<div>
			{{ comment.text}}<br>
			Submitted by: {{ comment.user}}
			on {{ comment.date_created}}
		</div>
		<br>
		{% empty %}
		There are no comments.
		{% endfor %}
		{% if user.is_authenticated %}
		<form action="{% url 'comment' listing.id %}" method="POST">
			{% csrf_token %}
			<input type="text" name="text" placeholder="New comment">
			<input class="btn btn-primary" type="submit">
		</form>
		{% endif %}

	</div>

</div>

{% endblock %}