{% extends "network/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}

<div>
	{% for post in posts %}
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">{{post.user}}</h5>
			<p class="card-text">{{post.body}}</p>
			<p>{{post.timestamp}}</p>
		</div>
	</div>

	{% empty %}
	There are no posts.
	{% endfor %}

	{% for follower in followers %}
	{{follower}}
	{% empty %}
	There are no followers.
	{% endfor %}

</div>


<div id="compose-view">
	<h3>New Post</h3>
	<form id="compose-form">
		<div class="form-group">
			From: <input disabled class="form-control" value="{{ request.user.email }}">
		</div>
		<textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
		<input type="submit" class="btn btn-primary" />
	</form>
</div>

<div id="posts-view">
	<h3 id="post-header">All Posts</h3>
	<!-- container div -->
	<div id="posts">
	</div>
</div>

<div id="profile-view">
	<h3>Profile</h3>
	<!-- container div -->
	<div id="users-posts">
	</div>
</div>

{% endif %}
{% endblock %}

{% block script %}
<script src="{% static 'network/social.js' %}"></script>
{% endblock %}