{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ title }}</h2>

{% if posts.has_other_pages %}
<nav>
	<ul class="pagination pagination-sm">
		{% if posts.has_previous %}
		<li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
		{% else %}
		<li class="disabled"><span class="page-link">&laquo;</span></li>
		{% endif %}
		{% for i in posts.paginator.page_range %}
		{% if posts.number == i %}
		<li class="page-item active" aria-current="page"><span class="page-link">{{ i }} <span
					class="sr-only">(current)</span></span></li>
		{% else %}
		<li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
		{% endif %}
		{% endfor %}
		{% if posts.has_next %}
		<li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">&raquo;</a></li>
		{% else %}
		<li class="page-item disabled"><span class="page-link">&raquo;</span></li>
		{% endif %}
	</ul>
</nav>
{% endif %}

{% for post in posts %}
<div class="card mb-3">

	<div class="row no-gutters">
		<div class="card-body">
			<h5 class="card-title">
				<a href="{% url 'profile' post.author.id %}">
					{{ post.author }}
				</a>
			</h5>
			<span class="edit-anchor" id="{{ post.id }}"></span>
			<p id="post-body" class="card-text">{{ post.body }}</p>
			<p class="card-text"><small class="text-muted">Created {{ post.timestamp }}</small></p>
			<p class="card-text likes">{{ post.likes }} likes</p>
			<button class="btn btn-link" post="{{ post.id }}">Like</button>
			{% if user == post.author %}
			<button class="btn btn-secondary" post="{{ post.id }}">Edit</button>
			{% endif %}
		</div>
	</div>

</div>
{% empty %}
No posts.
{% endfor %}
{% endblock %}

<!-- with pagination help from https://simpleisbetterthancomplex.com/tutorial/2016/08/03/how-to-paginate-with-django.html -->

{% block script %}
<script src=" {% static 'network/network.js' %}"></script>
{% endblock %}