{% extends "tropicanna/layout.html" %}

{% block body %}
<h1>Customers</h1>
<ul>
	{% for customer in customers %}
	<li>
		{{customer.id}}
		{{customer.name}}
		{{customer.phone}}
	</li>
	{% endfor %}
</ul>
<h1>All Products</h1>
<ul>
	{% for product in products %}
	<li>
		{{product.id}}
		{{product.category.name}}
		{{product.flavor.name}}
	</li>
	{% endfor %}
</ul>
<h1>Products within a category</h1>
<ul>
	{% for category in categories %}
	<li>
		{{category.name}}
		{{category.price}}
	</li>
	{% endfor %}
</ul>
<h1>Category of products by a flavor</h1>
<ul>
	{% for flavor in flavors %}
	<li>
		{{flavor.category.name}}
	</li>
	{% endfor %}
</ul>
{% endblock %}