{% extends "tropicanna/layout.html" %}
{% load static %}

{% block body %}
{% if user.is_authenticated %}
<h6>Welcome!</h6>
{% endif %}
<div>
	<div id="home">
		<h1>Tropicanna</h1>
		<p id="company-description">A wholesale distributor of juice products in the NYC area</p>
		<h4>
			Because everyone loves an ice cold glass of juice
		</h4>
		<img src="../static/images/morton-xiong-EqcJNWkxyko-unsplash.jpg" alt="Juice">

	</div>
	<div>
		<h3>Available Products (categories with at least 1 flavor)</h3>
		<ul>
			{% for category in all_categories %}
			{% for flavor in category.flavors.all %}
			<li> ${{category.price}}/case, {{category.name}}:
				{{flavor.name}}</li>
			{% endfor %}
			{% endfor %}
		</ul>
	</div>

	<div>
		<span>Photo by
			<a
				href="https://unsplash.com/@good_bear?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Morton
				Xiong
			</a> on
			<a
				href="https://unsplash.com/s/photos/orange-juice?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">
				Unsplash
			</a>
		</span>
	</div>
</div>

{% endblock %}