{% extends "tropicanna/layout.html" %}
{% load static %}

{% block body %}
<h1>New order</h1>

<form id="order-form">
	<div class="form-group">
		<label>Customer</label>
		<select name="customer" class="form-control">
			{% for customer in customers %}
			<option value="{{ customer.id }}">{{ customer.name }}</option>
			{% endfor %}
		</select>
	</div>


	<div class="form-group">
		{% for category in all_categories %}
		<!-- don't show categories that don't have flavors -->
		{% if category.flavors.all %}
		<strong>{{category.name}} - ${{category.price}}</strong>
		{% for flavor in category.flavors.all %}
		<div>
			<input class="total-price" category-id="{{category.id}}" flavor-id="{{flavor.id}}" disabled reset="">
			<input type="number" category="{{category.id}}" flavor="{{flavor.id}}" price="{{category.price}}"
				name="{{flavor.name}}-quantity" step="1" reset="">
			{{flavor.name}}
		</div>
		{% endfor %}
		{% endif %}
		{% endfor %}
	</div>
	<div>
		<input class="total-price" id="order-total" disabled reset=""><strong>Total</strong>
	</div><br>
	<div>
		<input id="calculate" type="submit" class="btn btn-info" value="Calculate" />
		<input id="save" type="submit" class="btn btn-primary" value="Save Order" />
	</div>
</form>

{% endblock %}

{% block script %}
<script src=" {% static 'tropicanna/order.js' %}"></script>
{% endblock %}