{% extends "tropicanna/layout.html" %}
{% load static %}


{% block body %}

<h1>Product Category {{category.id}}: {{category.name}}</h1>
<div>Price: {{category.price}}</div>
<ul>
	{% for flavor in flavors %}
	<li>{{ flavor.name }}</li>
	{% empty %}
	<li>No flavors.</li>
	{% endfor %}
</ul>

<form action="{% url 'add_flavor' category.id %}" method="post">
	{% csrf_token %}
	<div class="form-group">
		<select name="flavor" class="form-control">
			{% for flavor in non_flavors %}
			<option value="{{ flavor.id }}">{{ flavor.name }}</option>
			{% endfor %}
		</select>
	</div>
	<input type="submit" class="btn btn-primary" value="Add" />
</form>
{% endblock %}