#app {
/* text-align: center; */
	margin: 0% 2%;
}

#main-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

img {
	width: 20%;
	height: auto;
	border-radius: 8px;
}

#home {
	text-align: center;
}

#company-description {
	font-size: small;
	font-style: italic;
}

select {
	max-width: 20%;
}

/* keep it mobile friendly */
.total-price, .quantity {
	max-width: 12%;
}

