#app {
/* text-align: center; */
	margin: 0% 2%;
}

#main-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

img {
	width: 20%;
	height: auto;
	border-radius: 8px;
}

#home {
	text-align: center;
}

#company-description {
	font-size: small;
	font-style: italic;
}

/* #customer-form, #category-form, #flavor-form {
	max-width: 100%;
} */

select {
	max-width: 20%;
}

.total-price {
	max-width: 5%;
}

