nav {
    float: right;
    margin-bottom: 60px; 
}

nav a {
    color: black;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav li {
    display: inline;
    padding: 5px;
    font-size: small;
}

nav a:hover {
    text-decoration: underline;
}

.grid-container {
    display: grid;
}

#body {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.search-box {
    border-radius: 60px;
    border: 0.5px solid rgb(221, 218, 218);
    background-image: url('../images/search.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 8px 8px;
    margin: 1% 28%;
}

.search-box:hover {
    text-decoration: underline;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
}

.fancy-input[type=text] {
    width: 90%;
    outline: none; 
    background-color: transparent;
    padding-left: 20px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 60px;
    border-style: none; 
}

button {
    padding: 10px;
    margin: 4px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
}

button:hover {
    border-color: rgba(47, 47, 48, 0.28);
}

.advanced {
    text-align: left;
}

.advanced-submit {
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
    background-image: -moz-line;
    color: #fff;
}

.advanced-form {
    font-family: arial,sans-serif;
}
